<h2 class='mt-5'>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.hidden_field :password, autocomplete: "new-password", :value => "password_test" %>
  </div>

  <div class="field">
    <%= f.hidden_field :email, autocomplete: "new-email", :value => "email@something.com" %>
  </div>

  <div class="field">
    <%= f.hidden_field :password_confirmation, autocomplete: "new-password", :value => "password_test" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
