<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @article.author.username %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Image:</strong>
  <% if @article.image.attached? %>
    <img src="<%=(url_for(@article.image))%>" alt="Img from <%=@article.author.username%>">
  <%end%>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category_id %>
</p>
