<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @article.author.username %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <%= vote_or_unvote_btn(@article) %>
  Votes: <%= @article.votes.length%>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%=(url_for(@article.image))%>" alt="Img from <%=@article.author.username%>">
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category_id %>
</p>
