<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class="first-row row">
  <img src="<%= url_for(most_voted(@articles).image)%>" alt="most-voted-article" class="most-voted-img">
</div>
<div class="second-row row">
  <table>
    <tbody class="tbody d-inline-flex justify-content-center row">
      <% @categories.each do |category| %>
        <tr class="col-3">
          <td><%= link_to "#{category.name}", category %></td>
          <%= next if category.articles.last.nil?%>
          <img src="<%= url_for(category.articles.last.image) %>" alt="" class="category-portrait">      
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
